*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Flame-Bold;
    src: url("./bkfont/FlameBold.otf");
}
@font-face {
    font-family:Flame-regular ;
    src: url("./bkfont/FlameRegular.otf");
}
@font-face {
    font-family: flame-regularsans;
    src: url("./bkfont/FlameSans.otf");
}
body{
    background-color: #f5ebdc;
}
header{
    padding: 5px 80px;
    border-bottom: 2px solid lightgray;
    background-color: #f5ebdc;
    position: fixed;
    width: 100%;
    z-index: 1;
}
nav{
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;
}
nav a{
    text-decoration: none;
    color: #502314;
}
.r-18yzcnr{
    width: 172px;
}
.nav-btn{
    display: flex;
    align-items: center;
    gap: 8px;
}
.nav-btn button {
    padding: 11px 16px;
    font-family: flame-regular;
    font-size: 12px;
    border-radius: 20px;
    background-color: #d62300;
    color: #fff;
    border: none;
    display: flex;
    align-items: center;
    gap: 8px;


}
.nav-btn .bxs-shopping-bag{
    font-size: 12px;
}
.nav-btn  .bi-person-fill{
    font-size: 24px;


}

.footer-navbar {
    position: absolute;
    bottom: 0;
    position: fixed;
    display: flex;
    width: 100%;
    text-align: center;
    padding: 35px 120px ;
    display: flex;
    color: #502314;
    /* padding-bottom: 30px; */
    justify-content: space-between;
    background-color: #f8f1e7;
    z-index: 1;
    border: 1px solid #fff;
}
.footer-navbar img{
    width: 20px;
    margin-bottom: 0%;
    padding-bottom: 0px;
}
.footer-navbar span{
    font-size: 12px;
    font-family: flame-regular;
}

.container{
    /* padding: 5px 80px; */

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 90px 60px 0;
}
.container .banner-title {
    width: 335px;

}
.container .banner-title h1{
    font-family: flame-bold;
    color: #502314;
    font-size: 65px;
    width: 325px;
    display: flex;
    align-items: center;


}
.container .banner img{
    width: 890px;
    /* height: 326px; */
}
.container .banner-title .order-banner-btn button{
    padding: 17px 86px;
    margin-top: 10px;
    width: 100%;
    border-radius: 50px;
    font-size: 17px;
    font-family: Flame-regular;
    border: none;
}
.container .banner-title .order-banner-btn .order-pickup{
  background-color: #d62300;
  color: #fff;


}
.container .banner-title .order-banner-btn .order-delivery {
    border: 2px solid #502314;
    background-color: transparent;

}
.container .banner-title .order-banner-btn .order-delivery img{
    width: 25px;
    /* height: 20px; */
}

.cards-container{
    display: flex;
    /* width: 70%; */
    flex-wrap: wrap;
    gap: 10px;

    /* justify-content: space-around; */
    margin: 30px 150px;

}
.cards-container .card-content h1{
    font-family: flame-regular;
    font-size: 24px;
    font-weight: normal;
}
.cards-container .card1{
    background-color: #fff;
    height: 532px;
    width: 600px;
    border: 1px solid lightgray;
    border-radius: 10px 10px;
}
.cards-container .card1 img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.cards-container .card-content{
    padding: 20px;
    color: #502314;
    /* font-family: Flame-Bold-regular ; */
    font-weight: 100;
    position: relative;
}
.cards-container .card-content p{
    padding: 10px 0;
    display: flex;
    height: 90px;
    font-size: 13px;
    font-family: flame-regularsans
}
.cards-container .card-content a{
    color: #502314;
    display: block;
    font-weight: 600;
    font-size: 13px;
    font-family: flame-regularsans;
}
.cards-container .card-content .card-btn{
    background-color: transparent;
    padding: 10px 30px;
    font-family: Flame-regular;
    border: 2px solid #502314;
    color: #502314;
    border-radius: 50px;
    position: absolute;
    right: 20px;
    margin-top: 10px;
}

.app-publish{
    display: flex;
    align-items: center;
    padding: 30px 90px;
    justify-content: space-around;
    background-color: #eee8de;
    height: 460px;
    margin-top: 150px;
    /* margin-bottom: 150px; */
    position: relative;

}
.app-publish .mobile img{
    position: absolute;
    left: 120px;
    top: -60px;
    width: 468px;
}
.app-publish .apps-info{
    position: absolute;
    right: 80px;
    width: 700px;

}
.app-publish h1{
    font-size: 55px ;
    font-family: Flame-bold;
    color: #502314;
}
.app-publish p{
    width: 85%;
    color: #502314;
    font-family: flame-regularsans;
    font-size: 14px;
}
.app-publish .app-btns {
    display: flex;
    align-items: center;
}
.app-publish .app-btns img {
    width: 210px;
    margin: 5px;
}
footer {
    padding: 20px 0;
    background-color: #502314;
    color: #f8f1e7;
    text-align: center;
    margin-bottom: 80px;
    font-family: flame-regularsans;
    font-size: 12px;


}
footer p a{
    /* text-decoration: none; */
    color: #f1f8e7 ;
}
